<a href="https://colab.research.google.com/github/manalibhoir22/manali/blob/master/BASIC_PYTHON_PROGRAMMING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
temp = 1632
temp % 10

2

In [8]:
temp //= 10;temp

0

In [ ]:
num = int(input("Enter a number: "))

Enter a number: 1634

In [ ]:
order = len(str(num));order

4

In [10]:
#Check Armstrong number for n digits
# Enter the number 

num = int(input("Enter the number: "))

#Calculate the len of the digit
order = len(str(num))

#calculate the sum of cube for each digit

sum = 0 
temp = num

while temp > 0:
  digit = temp % 10
  sum += digit ** order
  temp //= 10

#Display the results

if sum == num:
  print(f"{num} is an Armstrong Number")
else:
  print(f"{num} is not an Armstrong number")

Enter the number: 1643
1643 is not an armstrong number

In [12]:
#Check if the number is positive/negative

num = float(input("Enter a number: "))

if num > 0:
  print(f"{num} is a Positive Number")

elif num == 0:
  print(f"{num} is Zero")

else:
  print(f"{num} is a Negative Number")

Enter a number: -5
-5.0 is a Negative Number

In [13]:
## Check if the number is Even of odd

num = float(input("Enter a number: "))

if (num % 2)==0:
  print(f"{num} is an Even Number")
else:
  print(f"{num} is an Odd Number")

Enter a number: -2
-2.0 is an Even Number

In [17]:
#Check if the year is a leap year
year = int(input("Enter a number: "))

if (year % 4) == 0:
  if (year % 100) ==0:
    if (year % 400)==0:
      print(f"{year} is a leap year")
    else:
      print(f"{year} is not a leap year")
  else:
    print(f"{year} is a Leap Year")
else:
  print(f"{year} is not a Leap Year")

Enter a number: 1900
1900 is not a leap year

In [22]:
#check which number is the largest among the three numbers

num1 = float(input("Enter a 1st number: "))
num2 = float(input("Enter a 2nd number: "))
num3 = float(input("Enter a 3rd number: "))

if (num1 >= num2) and (num1 >= num3):
  largest = num1
if (num2 >= num1) and (num2 >= num3):
  largest = num2
else:
  largest = num3

print(f"The largest number is {largest}")

Enter a 1st number: 8
Enter a 2nd number: 6
Enter a 3rd number: 6
The largest number is 6.0

In [27]:
#Check if the number is prime or not

num = int(input("Enter a number: "))
 
#prime numbers are greater than 1
if num >1:
  #check the factors
  for i in range (2,num):
    if (num % i)==0:
      print (f"{num} is a not a prime number")
      print (f"Since {i} times {num//i} is {num}")
      break
  else:
      print(f"{num} is a prime number")

else:
  print(f"{num} is not a prime number")

Enter a number: 48
48 is a not a prime number
Since 2 times 24 is 48

In [34]:
#Print all the prime numbers between (a,b)

a = int(input("Enter a lower range: "))
b = int(input("Enter an upper range: "))

print(f"All the Prime numbers in the range {a} to {b} are:")
for num in range(a,b+1):
  if num > 1:
    for i in range(2,num):
      if (num % i)==0:
        break

    else:
      print(num)

Enter a lower range: 1
Enter an upper range: 20
All the Prime numbers in the range 1 to 20 are:
2
3
5
7
11
13
17
19

In [39]:
#Find the factorial of a number provided by the user.

num = int(input("Enter a number: "))
factorial = 1
if num < 0:
  print(f"Sorry, factorial does not exist for negative numbers")

elif num == 0:
  print(f"The factorial of 0 is 1")

else:
  for i in range(1,num+1):
    factorial = factorial*i
  print(f"The factorial for {num} is {factorial}")

Enter a number: 8
The factorial for 8 is 40320

In [42]:
#Multiplication table in Python

num = int(input("Enter a number: "))

for i in range(1,11):
  print(f"{num} X {i} = {num*i}")

Enter a number: 12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [43]:
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 20
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181